.clock {
	width: 1250px;
	height: 600px;
	background-color: black;
}

#clock:hover {
	color: red;
}

#clock {
	margin: auto;
	padding-top: 250px;
	color: white;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 95px;
	font-weight: normal;
}